.root {
  background: rgba(65, 82, 46, 0.05);
  border-radius: 50%;
  width: 64px;
  height: 64px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  fill: var(--dark-green-color);
}
