.root {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 17px;
  line-height: 22px;
}

.dateBlock {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--secondary-color);
}

.tire {
  margin-left: 14px;
  margin-right: 14px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.price {
  font-size: 11px;
  line-height: 22px;
  color: var(--secondary-color);
}

.priceNumber {
  margin-left: 10px;
  font-weight: 400;
  font-size: 17px;
  color: var(--primary-color);
}
