.root {
  display: grid;
  grid-template-columns: auto 360px 664px auto;
  grid-template-rows: auto 404px auto;
  grid-template-areas:
    "header header header header"
    ". searchForm hotelsList ."
    ". favorites hotelsList .";
  gap: 24px;
}

.header {
  grid-area: header;
}

.searchForm {
  grid-area: searchForm;
  width: 360px;
}

.favorites {
  grid-area: favorites;
  width: 360px;
}

.hotelsList {
  grid-area: hotelsList;
  width: 664px;
}
